﻿@model DiccionarioLCM.Models.ViewModelImagenes
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("RegistrarImagen", "Imagen", FormMethod.Post, new
        { enctype = "multipart/form-data" }))
        {

            <div class="form-group">

                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.File, new { type = "file" })
                    @Html.ValidationMessageFor(m => m.File)
                </div>
            </div>
            <div class="form-group">

                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Descripcion)
                </div>
            </div>
            <div class="form-group">

                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Nombre)
                </div>
            </div>
            

           

           


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Registrarse" />
                </div>
            </div>
        }
    </div>
</div>